[package]
name = "nova-devtools"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
serde.workspace = true
serde_json.workspace = true
toml = "0.8"
