[workspace]
resolver = "2"
members = [
    "crates/nova-core",
    "crates/nova-ai",
    "crates/nova-fuzzy",
    "crates/nova-cache",
    "crates/nova-index",
    "crates/nova-framework",
    "crates/nova-framework-dagger",
    "crates/nova-framework-jpa",
    "crates/nova-framework-lombok",
    "crates/nova-project",
    "crates/nova-types",
    "crates/nova-vfs",
    "crates/nova-hir",
    "crates/nova-syntax",
    "crates/nova-resolve",
    "crates/nova-classfile",
    "crates/nova-classpath",
    "crates/nova-jdk",
    "crates/nova-db",
    "crates/nova-ide",
    "crates/nova-refactor",
    "crates/nova-dap",
    "crates/nova-build",
    "crates/nova-lsp",
    "crates/nova-testing",
    "crates/nova-flow",
    "crates/nova-workspace",
    "crates/nova-cli",
]

[workspace.package]
edition = "2021"
