[workspace]
members = [
    "crates/nova-core",
    "crates/nova-framework",
    "crates/nova-framework-jpa",
    "crates/nova-project",
    "crates/nova-types",
    "crates/nova-vfs",
    "crates/nova-hir",
    "crates/nova-jdk",
    "crates/nova-resolve",
    "crates/nova-classfile",
    "crates/nova-db",
    "crates/nova-ide",
    "crates/nova-dap",
]
resolver = "2"

[workspace.package]
edition = "2021"
