[package]
name = "nova-router"
version.workspace = true
edition.workspace = true

[features]
tls = [
    "dep:tokio-rustls",
    "dep:rustls",
    "dep:rustls-pemfile",
    "dep:sha2",
    "dep:hex",
]

[dependencies]
anyhow.workspace = true
thiserror.workspace = true
tokio.workspace = true

nova-cache = { path = "../nova-cache" }
nova-fuzzy = { path = "../nova-fuzzy" }
nova-index = { path = "../nova-index" }
nova-remote-proto = { path = "../nova-remote-proto" }
nova-scheduler = { path = "../nova-scheduler" }

tokio-rustls = { version = "0.26.0", optional = true }
rustls = { version = "0.23.18", default-features = false, features = ["std"], optional = true }
rustls-pemfile = { version = "2.2.0", optional = true }
sha2 = { version = "0.10.9", optional = true }
hex = { version = "0.4.3", optional = true }

[dev-dependencies]
rcgen = "0.13.2"
tempfile.workspace = true
tokio.workspace = true
