[package]
name = "nova-fuzzy"
version.workspace = true
edition = "2021"

[dependencies]
nova-core = { path = "../nova-core" }

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "fuzzy"
harness = false
