[package]
name = "nova-project"
version = "0.1.0"
edition = "2021"

[dependencies]
regex = "1.10.3"
roxmltree = "0.20.0"
thiserror = "1.0.56"
walkdir = "2.5.0"

[dev-dependencies]
tempfile = "3.10.1"

