[package]
name = "nova-project"
version.workspace = true
edition = "2021"

[dependencies]
regex = "1.10.3"
roxmltree = "0.20.0"
thiserror = "1.0.56"
walkdir = "2.5.0"
serde = { version = "1", features = ["derive"] }
nova-config = { path = "../nova-config" }
nova-modules = { path = "../nova-modules" }
nova-syntax = { path = "../nova-syntax" }

[dev-dependencies]
tempfile = "3.10.1"
