[package]
name = "nova-project"
version.workspace = true
edition = "2021"

[features]
default = ["bazel"]
bazel = ["dep:nova-build-bazel"]

[dependencies]
regex = "1.10.3"
roxmltree = "0.20.0"
thiserror = "1.0.56"
walkdir = "2.5.0"
serde = { version = "1", features = ["derive"] }
nova-archive = { path = "../nova-archive" }
nova-classfile = { path = "../nova-classfile" }
nova-config = { path = "../nova-config" }
nova-hir = { path = "../nova-hir" }
nova-modules = { path = "../nova-modules" }
nova-syntax = { path = "../nova-syntax" }
nova-build-bazel = { path = "../nova-build-bazel", optional = true }

[dev-dependencies]
anyhow = "1"
tempfile = "3.10.1"
