[package]
name = "nova-lsp"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
tokio = { workspace = true }

nova-apt = { path = "../nova-apt" }
nova-build = { path = "../nova-build" }
nova-config = { path = "../nova-config" }
nova-cache = { path = "../nova-cache" }
nova-core = { path = "../nova-core" }
nova-dap = { path = "../nova-dap" }
nova-decompile = { path = "../nova-decompile" }
nova-ide = { path = "../nova-ide" }
nova-ai = { path = "../nova-ai", optional = true }
nova-db = { path = "../nova-db" }
nova-index = { path = "../nova-index" }
nova-project = { path = "../nova-project" }
nova-refactor = { path = "../nova-refactor" }
nova-scheduler = { path = "../nova-scheduler" }
nova-testing = { path = "../nova-testing" }
nova-remote-proto = { path = "../nova-remote-proto" }
nova-router = { path = "../nova-router" }
nova-build-bazel = { path = "../nova-build-bazel" }
lsp-types = "0.97"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
tokio-util = "0.7"
url = "2"

[features]
ai = ["dep:nova-ai", "nova-ide/ai"]

[dev-dependencies]
httpmock = "0.7"
pretty_assertions = "1.4"
tempfile = "3.10.1"
nova-test-utils = { path = "../nova-test-utils" }
