[package]
name = "nova-lsp"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
description = "Nova Java language server (LSP)."

[package.metadata.dist]
dist = true

[dependencies]
anyhow = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread"] }

nova-ai = { path = "../nova-ai" }
nova-apt = { path = "../nova-apt" }
nova-build = { path = "../nova-build" }
nova-config = { path = "../nova-config" }
nova-cache = { path = "../nova-cache" }
nova-core = { path = "../nova-core" }
nova-dap = { path = "../nova-dap" }
nova-decompile = { path = "../nova-decompile" }
nova-ide = { path = "../nova-ide" }
nova-framework-web = { path = "../nova-framework-web" }
nova-db = { path = "../nova-db" }
nova-index = { path = "../nova-index" }
nova-memory = { path = "../nova-memory" }
nova-metrics = { path = "../nova-metrics" }
nova-project = { path = "../nova-project" }
nova-refactor = { path = "../nova-refactor" }
nova-scheduler = { path = "../nova-scheduler" }
nova-format = { path = "../nova-format" }
nova-syntax = { path = "../nova-syntax" }
nova-testing = { path = "../nova-testing" }
nova-jdwp = { path = "../nova-jdwp" }
nova-remote-proto = { path = "../nova-remote-proto" }
nova-router = { path = "../nova-router" }
nova-build-bazel = { path = "../nova-build-bazel", features = ["bsp"] }
nova-framework-micronaut = { path = "../nova-framework-micronaut" }
nova-framework-mapstruct = { path = "../nova-framework-mapstruct" }
nova-vfs = { path = "../nova-vfs", features = ["lsp"] }

# Hardening / crash recovery support.
nova-bugreport = { path = "../nova-bugreport" }
tracing = { workspace = true }
lsp-types = "0.97"
nova-workspace = { path = "../nova-workspace" }
schemars = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
tokio-util = "0.7"
url = "2"

[features]
default = ["ai"]
ai = ["nova-ide/ai"]
# Optional Build Server Protocol integration for Bazel via `nova-build-bazel`.
bsp = ["nova-build-bazel/bsp"]

[dev-dependencies]
httpmock = "0.7"
futures = "0.3"
pretty_assertions = "1.4"
tempfile = "3.10.1"
nova-test-utils = { path = "../nova-test-utils" }
