[package]
name = "nova-lsp"
version = "0.1.0"
edition = "2021"

[dependencies]
nova-testing = { path = "../nova-testing" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"

[dev-dependencies]
pretty_assertions = "1.4"

