[package]
name = "nova-worker"
version = "0.1.0"
edition.workspace = true

[features]
tls = ["dep:tokio-rustls", "dep:rustls", "dep:rustls-pemfile"]

[dependencies]
anyhow.workspace = true
tokio.workspace = true

nova-cache = { path = "../nova-cache" }
nova-index = { path = "../nova-index" }
nova-remote-proto = { path = "../nova-remote-proto" }

tokio-rustls = { version = "0.26.0", optional = true }
rustls = { version = "0.23.18", default-features = false, features = ["std"], optional = true }
rustls-pemfile = { version = "2.2.0", optional = true }

[dev-dependencies]
tempfile.workspace = true
tokio.workspace = true

nova-lsp = { path = "../nova-lsp" }
nova-router = { path = "../nova-router" }
